<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитика транзакций</title>
</head>
<body>
<div class="buttons">
    <a href="{% url 'report' %}"><button id="report-button">Составить отчет</button></a>
</div>
<div>
    <h1>Анализ транзакций</h1>

    <form method="GET">
        <label for="start_date">С даты:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">

        <label for="end_date">По дату:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <label for="category">Категория:</label>
        <select id="category" name="category">
            <option value="">--- Все категории ---</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id|stringformat:"d" == category_id %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Фильтровать</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <img src="data:image/png;base64,{{ plot_url }}" alt="График транзакций">
    {% endif %}

</div>
<div>
    <h1>Транзакции</h1>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Тип</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Сумма</th>
            <th>Действия</th> <!-- Новый заголовок для действий -->
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.get_transaction_type_display }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>
                    <form action="{% url 'transaction_delete' transaction.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Нет транзакций.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>