{% extends "accounts/base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/header.css' %}">{% endblock %}


{% block content %}
<body>
    <div class="header">
        <h1>Добавить категорию</h1>
    </div>

    <div class="container">
        {% if messages %}
            {% for m in messages %}
                <div class="alert" style="color:#ffcc00; margin-bottom:10px;">{{ m }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                <div class="error">{{ form.name.errors }}</div>
            </div>

            <div class="form-group">
                {{ form.category_type.label_tag }}
                {{ form.category_type }}
                <div class="error">{{ form.category_type.errors }}</div>
            </div>

            <button type="submit">Добавить категорию</button>
        </form>

        <a href="{% url 'category_list' %}" class="back">← Назад к списку категорий</a>
    </div>
</body>
{% endblock %}
