{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/theme.css' %}">
<style>
    .animated-dragon1 {
    width: 200px; /* Укажите ширину */
    height: 300px; /* Укажите высоту */
    animation: frameAnimation 1s steps(2) infinite; /* Запуск анимации */
}

@keyframes frameAnimation {
    0% {
        content: url('{% static "accounts/img/happy_dragon.png" %}'); /* Кадр 1 */
    }
    33% {
        content: url('{% static "accounts/img/happy_dragon_2.png" %}'); /* Кадр 2 */
    }
    66% {
        content: url('{% static "accounts/img/happy_dragon_3.png" %}'); /* Кадр 3 */
    }
    100% {
        content: url('{% static "accounts/img/happy_dragon.png" %}'); /* Возврат к Кадру 1 */
    }
}
.animated-dragon2 {
    width: 200px; /* Укажите ширину */
    height: 300px; /* Укажите высоту */
    animation: frameAnimation2 1s steps(2) infinite; /* Запуск анимации */
}

@keyframes frameAnimation2 {
    0% {
        content: url('{% static "accounts/img/sad_dragon.png" %}'); /* Кадр 1 */
    }
    33% {
        content: url('{% static "accounts/img/sad_dragon_2.png" %}'); /* Кадр 2 */
    }
    66% {
        content: url('{% static "accounts/img/sad_dragon_3.png" %}'); /* Кадр 3 */
    }
    100% {
        content: url('{% static "accounts/img/sad_dragon.png" %}'); /* Возврат к Кадру 1 */
    }
}
    .animated-dragon3 {
    width: 200px; /* Укажите ширину */
    height: 300px; /* Укажите высоту */
    animation: frameAnimation3 1s steps(2) infinite; /* Запуск анимации */
}

@keyframes frameAnimation3 {
    0% {
        content: url('{% static "accounts/img/angry_dragon.png" %}'); /* Кадр 1 */
    }
    33% {
        content: url('{% static "accounts/img/angry_dragon_2.png" %}'); /* Кадр 2 */
    }
    66% {
        content: url('{% static "accounts/img/angry_dragon_3.png" %}'); /* Кадр 3 */
    }
    100% {
        content: url('{% static "accounts/img/angry_dragon.png" %}'); /* Возврат к Кадру 1 */
    }
}

</style>{% endblock %}
{% block content %}

    <div class="sidebar">
        <h1>DragonPurse</h1>

        <a href="{% url 'transaction_list' %}"><button>Календарь</button></a>
        <a href="{% url 'transaction_create' %}"><button>Добавить транзакцию</button></a>
        <a href="{% url 'notifications_inbox' %}"><button>Уведомления</button></a>
        <a href="{% url 'report_builder' %}"><button>Аналитика</button></a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'wishlist_list' %}"><button>Список желаний</button></a>
        <a href="{% url 'settings' %}"><button>Настройки</button></a>
        <div class="line"></div>
        <a href="{% url 'logout' %}"><button>Выйти</button></a>

    </div>


    <main>
        <div class="welcome-container">
    <h1>Добро пожаловать, {{ user.username }}!</h1>
    {% if balance > 0 %}
        <img class="animated-dragon1" src="{% static 'accounts/img/happy_dragon.png' %}" width="200" height="300" alt="Счастливый дракончик">
    {% elif balance == 0 %}
        <img class="animated-dragon2" src="{% static 'accounts/img/happy_dragon_2.png' %}" width="200" height="300" alt="Счастливый дракончик">
    {% else %}
        <img class="animated-dragon3" src="{% static 'accounts/img/happy_dragon_3.png' %}" width="200" height="300" alt="Счастливый дракончик">
    {% endif %}
</div>
        <div class="dashboard">

            <a href="{% url 'login' %}" class="card">
                <h2>Баланс</h2>
                <p>{{ balance|floatformat:2 }} BYN</p>
            </a>
            <a href="/" class="card">
                <h2>Доходы</h2>
                <p>{{ income_total|floatformat:2 }} BYN</p>
            </a>
            <a href="/" class="card">
                <h2>Расходы</h2>
                <p>{{ expense_total|floatformat:2 }} BYN</p>
            </a>

        </div>


        <!-- Нижний блок — Аналитика -->
        <div class="analytics">
            <h2>Аналитика</h2>
            <img src="data:image/png;base64,{{ graphic }}" alt="График транзакций за текущий месяц" width="600" height="500">
        </div>
    </main>
{% endblock %}
