{% extends "accounts/base.html" %}
{% block content %}
 <div class="sidebar">
        <h1>ДракоФин</h1>

        <a href="{% url 'transaction_list' %}"><button>Календарь</button></a>
        <a href="{% url 'transaction_create' %}"><button>Добавить транзакцию</button></a>
        <a href="{% url 'settings' %}"><button>Настройки</button></a>
        <a href="{% url 'notifications_all' %}"><button>Уведомления</button></a>
        <a href="{% url 'analytics' %}"><button>Аналитика</button></a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'wishlist_list' %}"><button>Вишлист</button></a>
        <a href="{% url 'shared_users_list' %}"><button>Совместный доступ</button></a>

        <div class="logout">
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>
<main>
<h1>🎯 Цели пользователя {{ friend.username }}</h1>

{% if goals %}
<table border="1" cellpadding="8" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Дедлайн</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    {% for goal in goals %}
    <tr>
      <td>{{ goal.name }}</td>
      <td>{{ goal.description }}</td>
      <td>{{ goal.deadline }}</td>
      <td>{{ goal.get_status_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Нет доступных целей.</p>
{% endif %}

<a href="{% url 'shared_users_list' %}">⬅ Назад</a>
{% endblock %}
</main>