{% extends "accounts/base.html" %}
{% block content %}
<h1>Мои цели</h1>
<p><a href="{% url 'add_goal' %}">Добавить новую цель</a></p>
<a href="{% url 'shared_users_list' %}" class="button">👥 Посмотреть цели друга</a>

{% for g in goals %}
<div class="card" style="padding:15px; margin-bottom:15px; border:1px solid #ccc; border-radius:10px;">
  <h2>{{ g.name }}</h2>
  <p>{{ g.description }}</p>
  <p>Дедлайн: {{ g.deadline }}</p>
  <p>Цель: {{ g.amount }} ₽ | Накоплено: {{ g.saved }} BYN</p>
  <p>Статус: {{ g.status }}</p>
  <div style="background:#ddd; border-radius:10px; height:20px; margin-bottom:10px;">
      <div style="width:{{ g.percent }}%; background-color:{{ g.color }}; height:100%; border-radius:10px; text-align:center; color:white; font-size:12px;">
          {{ g.percent }}%
      </div>
  </div>

  <a href="{% url 'goal_detail' g.id %}" class="btn btn-primary">Посмотреть детали</a>
  <button onclick="confirmDelete({{ g.id }})" class="btn btn-danger">Удалить</button>

  <form id="deleteForm{{ g.id }}" method="post" action="{% url 'goal_delete' g.id %}" style="display:none;">
      {% csrf_token %}
  </form>
</div>
{% empty %}
<p>Пока нет целей. <a href="{% url 'add_goal' %}">Добавить новую цель</a></p>
{% endfor %}

<script>
function confirmDelete(goalId) {
    if (confirm("Вы действительно хотите удалить эту цель?")) {
        document.getElementById('deleteForm' + goalId).submit();
    }
}
</script>
{% endblock %}
