{% extends "accounts/base.html" %}
{% block content %}
<body>
    <h1>DragonPurse</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</body>
{% endblock %}