{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Уведомления{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/theme.css' %}">{% endblock %}
{% block content %}
<div class="sidebar">
        <h1><a href="{% url 'dashboard' %}">DragonPurse</a></h1>

        <a href="{% url 'transaction_list' %}"><button>Календарь</button></a>
        <a href="{% url 'notifications_inbox' %}" style="position: relative; display: inline-block;">
            <button>Уведомления</button>
            {% if has_unread %}
        <span style="
            position: absolute;
            top: 5px;
            right: 15px;
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
        "></span>
    {% endif %}</a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'wishlist_list' %}"><button>Список желаний</button></a>
        <div class="line"></div>
        <div style="display: flex; margin: 5px;">
        <a href="{% url 'settings' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/settings_photo.png' %}" width="30" height="30" alt="настройки"></a>
        <a href="{% url 'logout' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/exit_photo.png' %}" width="30" height="30" alt="выход"></a>
        </div>

    </div>
<main>
<h1>Уведомление</h1>

<p><strong>От:</strong> {{ invite.sender.email }}</p>
<p><strong>Дата:</strong> {{ notification.created_at|date:"d.m.Y H:i" }}</p>
<p><strong>Текст:</strong><br>{{ notification.message }}</p>

{% if notification.notification_type == "planned" %}
<div class="planned-actions">
    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Добавить как транзакцию</button>
    </form>

    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Отложить</button>
    </form>
</div>
{% endif %}
{% if notification.notification_type == "access" %}
<div class="planned-actions">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- скрытые данные для поиска invite -->
        <input type="hidden" name="sender_email" value="{{ invite.sender.email }}">

        <button type="submit" name="action" value="accept">
            Подтвердить и дать доступы
        </button>
        <button type="submit" name="action" value="decline">
            Отклонить
        </button>
    </form>
</div>
{% endif %}


{% if not notification.is_read %}
<form method="post" action="{% url 'planned_edit' notification.id %}">
    {% csrf_token %}
    <button type="submit">Отметить как прочитанное</button>
</form>
{% endif %}
</main>
{% endblock %}
