{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Уведомления{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/dashboard.css' %}">{% endblock %}
{% block content %}
<div class="sidebar">
        <h1>DragonPurse</h1>

        <a href="{% url 'transaction_list' %}"><button>Календарь</button></a>
        <a href="{% url 'notifications_inbox' %}"><button>Уведомления</button></a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'wishlist_list' %}"><button>Список желаний</button></a>
        <a href="{% url 'settings' %}"><button>Настройки</button></a>
        <div class="line"></div>
        <a href="{% url 'logout' %}"><button>Выйти</button></a>

    </div>
<main>
<h1>Уведомление</h1>

<p><strong>От:</strong> {{ notification.user.email }}</p>
<p><strong>Дата:</strong> {{ notification.created_at|date:"d.m.Y H:i" }}</p>
<p><strong>Текст:</strong><br>{{ notification.message }}</p>
    <p>{{ notification.notification_type }}</p>

{% if notification.notification_type == "planned" %}
<hr>
<div class="planned-actions">
    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Добавить как транзакцию</button>
    </form>

    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Отложить</button>
    </form>
</div>
{% endif %}
{% if notification.notification_type == "shared_acccess" %}
<hr>
<div class="planned-actions">
    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Добавить как транзакцию</button>
    </form>

    <form method="post" action="{% url 'planned_edit' notification.id %}">
        {% csrf_token %}
        <button type="submit">Отложить</button>
    </form>
</div>
{% endif %}

{% if not notification.is_read %}
<form method="post" action="{% url 'planned_edit' notification.id %}">
    {% csrf_token %}
    <button type="submit">Отметить как прочитанное</button>
</form>
{% endif %}
</main>
{% endblock %}
