{% extends "accounts/base.html" %}
{% block content %}
 <div class="sidebar">
        <h1>ДракоФин</h1>

        <a href="{% url 'notifications_inbox' %}"><button>Входящие</button></a>
        <a href="{% url 'notifications_all' %}"><button>Все уведомления</button></a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'shared_users_list' %}"><button>Посмотреть цели друга</button></a>
        <a href="{% url 'shared_users_list' %}"><button>Совместный доступ</button></a>

        <div class="logout">
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>

<div class="notifications-container" style="display: flex; gap: 20px;">



<main style="flex-grow: 1;">
<h1>Уведомления</h1>


{% if notifications %}
<ul style="list-style: none; padding: 0;">
{% for n in notifications %}
<li style="margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; background: {% if n.is_read %}#e5ffe5{% else %}#fff{% endif %};">
<a href="{% url 'notification_detail' n.id %}" style="text-decoration:none; color: black;">
<strong>{{ n.created_at|date:"d.m.Y H:i" }}</strong> — {{ n.message }}
</a>
<form method="post" action="{% url 'notification_delete' n.id %}" style="display:inline; float:right;">
{% csrf_token %}
<button type="submit">Удалить</button>
</form>
</li>
{% endfor %}
</ul>
{% else %}
<p>Пока нет уведомлений</p>
{% endif %}
</main>
</div>
{% endblock %}