{% extends "accounts/base.html" %}
{% block content %}
<body>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</body>
{% endblock %}