{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Настройки{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/theme.css' %}">{% endblock %}
{% block content %}
<div class="sidebar">
  <h1><a href="{% url 'dashboard' %}">DragonPurse</a></h1>
    <div>
        <a href="{% url 'settings_interface' %}"><button>Настроить интерфейс</button></a>
        <a href="{% url 'profile' %}"><button>Настроить профиль</button></a>
        <a href="{% url 'shared_account' %}"><button>Cовместный доступ</button></a>
        <div class="line"></div>
        <div style="display: flex; margin: 5px;">
        <a href="{% url 'settings' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/settings_photo.png' %}" width="30" height="30" alt="настройки"></a>
        <a href="{% url 'logout' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/exit_photo.png' %}" width="30" height="30" alt="выход"></a>
        </div>
    </div>

</div>
<main>
  <h1>Настройки пользователя</h1>
    <p>Здесь вы можете изменить ваши настройки.</p>
</main>
{% endblock %}
