{% extends "accounts/base.html" %}
{% block content %}
<div class="container">
    <h1>Настройки пользователя</h1>
    <p>Здесь вы можете изменить ваши настройки.</p>
    <div>
        <a href="{% url 'shared_account' %}"><button>Настроить интерфейс</button></a>
        <a href="{% url 'profile' %}"><button>Настроить профиль</button></a>
        <a href="{% url 'shared_account' %}"><button>Настроить совместный доступ</button></a>
        <a href="{% url 'dashboard' %}"><button>Вернуться</button></a>
    </div>

</div>
{% endblock %}