{% extends "accounts/base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/theme.css' %}">{% endblock %}
{% block content %}
<div class="sidebar">
        <h1><a href="{% url 'transaction_list' %}">DragonPurse</a></h1>

        <a href="{% url 'notifications_inbox' %}"><button>Мои приглашения</button></a>
        <a href="{% url 'notifications_inbox' %}" style="position: relative; display: inline-block;">
            <button>Уведомления</button>
            {% if has_unread %}
        <span style="
            position: absolute;
            top: 5px;
            right: 15px;
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
        "></span>
    {% endif %}</a>
        <a href="{% url 'goals_list' %}"><button>Цели</button></a>
        <a href="{% url 'wishlist_list' %}"><button>Список желаний</button></a>
        <div class="line"></div>
        <div style="display: flex; margin: 5px;">
        <a href="{% url 'settings' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/settings_photo.png' %}" width="30" height="30" alt="настройки"></a>
        <a href="{% url 'logout' %}" style="display: flex; margin: 5px;"><img src="{% static 'accounts/img/exit_photo.png' %}" width="30" height="30" alt="выход"></a>
        </div>
</div>
<main>
<h1>Совместный доступ</h1>

<div class="card">

{% if messages %}
  {% for message in messages %}
    <p style="color:green;">{{ message }}</p>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Отправить приглашение</button>
</form>
</div>
<div class="container">
    <h1>Пользователи с доступом к вашему аккаунту</h1>

    <table>
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Доступ к целям</th>
                <th>Доступ к списку желаемого</th>

            </tr>
        </thead>
        <tbody>
            {% for access in shared_with_users %}
                <tr>
                    <td>{{ access.shared_with.username }}</td>
                    <td>{{ access.can_view_goals|yesno:"Да,Нет" }}</td>
                    <td>{{ access.can_view_wishlist|yesno:"Да,Нет" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет пользователей с доступом.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2>Пользователи, которые дали вам доступ</h2>
<table>
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Доступ к целям</th>
                <th>Доступ к списку желаемого</th>

            </tr>
        </thead>
        <tbody>
{% for access in received_accesses %}
    <tr>
        <td>{{ access.owner.username }}</td>
        <td>{{ access.can_view_goals|yesno:"Да,Нет" }}</td>
        <td>{{ access.can_view_wishlist|yesno:"Да,Нет" }}</td>
    </tr>
{% empty %}
    <tr>
    <td colspan="3">Нет полученных доступов.</td>
        </tr>
{% endfor %}


</main>
{% endblock %}

