{% extends "accounts/base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'accounts/css/add_form.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/theme.css' %}">{% endblock %}
{% block content %}
<form method="post">
  <div class="header">

        <h1><img src="{% static 'accounts/img/happy_dragon_head.png' %}" alt="Дракончик" class="dragon"> Добавить желание</h1>
    </div>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="button">Сохранить</button>
  <a href="{% url 'wishlist_list' %}" class="button">Назад</a>
</form>
{% endblock %}





